<h1>Find User Registries</h1>
<div align="center">
  <%= form_with url: search_users_path, method: :get, local: true do |f| %>
   <%= f.text_field :name, :placeholder => "Enter User Name..." %>
   <%= f.submit :search %>
  <% end %>
</div>

<div align="center">
<table>
  <thead>
    <tr>
      <th></th><br/>
      <th></th><br/>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to "Registries", searched_user_path(user.id), class: "btn btn-xs btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>