<div align="center">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gift.title %>
</p>

<p>
  <strong>Target price:</strong>
  <%= @gift.target_price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gift.description %>
</p>


<%= link_to 'Back', :back %>
</div>