<div align="center">
<%= form_with(model: registry, local: true) do |form| %>
  <% if registry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registry.errors.count, "error") %> prohibited this registry from being saved:</h2>

      <ul>
      <% registry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :registry_title %>
  </div>

  <div class="field">
    <%= form.label :welcome_message %>
    <%= form.text_area :welcome_message, id: :registry_welcome_message %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_select :due_date, id: :registry_due_date %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>