<h1>Gifts</h1>

<div align="center">
<p>
  <strong>Title:</strong>
  <%= @registry.title %>
</p>

<p>
  <strong>Welcome message:</strong>
  <%= @registry.welcome_message %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @registry.due_date %>
</p><br/><br/>





<table class = "table-bordered table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Target price</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gifts.each do |gift| %>
      <tr>
        <td><%= gift.title %></td>
        <td>$<%= gift.target_price.floor %></td>
        <td><%= gift.description %></td>
        <td><%= link_to "Contribute", new_charge_path(gift.id), class: "btn btn-xs btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Back', :back %>
</div>