

<div align="center">
  <span>Gift: <%= @gift.title %></span></br>
  <span>Price: $<%= @gift.target_price.floor %></span></br>
  <span>Remaining: $<%= @gift.target_price.floor %></span></br>
<%= form_with(model: @customer, url: charges_path, local: true, method: :post) do |f| %>
  <span><%= f.label :full_name, "name" %></span>:
  <span><%= f.text_field :full_name, class: 'form_control' %></span></br>
  
  <%= f.fields_for :charge do |d| %>
    <span><%= d.label :message, "message" %></span>:
    <span><%= d.text_field :message, class: 'form_control' %></span></br>
    <span><%= d.label :amount, "amount" %></span>:
    <span><%= d.number_field :amount, class: 'form_control' %></span></br>
  <% end %>
  <span><%= f.submit "contribute" %></span></br>
<% end %>



  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @amount %>"
          data-locale="auto">
    
  </script>
  
</div>




